<launch>
	<!-- USE: roslaunch my_robot urdf_visualize.launch model:='$(find my_robot)/urdf/robot.urdf' -->
	<arg name="model" default=""/>

	<param name="robot_description" command="cat $(arg model)"/>

	<!-- send fake joint values -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="TRUE"/>
	</node>

	<!-- Combine joint values -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

	<!-- show in Rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args=""/>
</launch>
